/* nippo sur tous le body */
body {
    font-family: 'Nippo';
}

.bg-center {
    background-position: 50%
}

.animation-text-scroll {
    animation: text-scroll 100s linear infinite;
}

/* pour animer un texte en scroll lateral vers la gauche */
@keyframes text-scroll {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-100%)
    }
}

/* pour animer une image en la faisant tourner sur elle même */
@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

.animate-spin-slow {
    animation: spin 20s linear infinite
}


  
.image-scroll {
    animation: image-scroll 40s linear infinite;
}

/* pour animer une image en scroll lateral vers la gauche */
@keyframes image-scroll {
    0% {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

